<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
<title>Ruby n B</title>
</head>
<center>
  <br><h3>Welcome <% if @first_name %><%= @first_name %><% end %>!</h3><br>

<% if @first_name %><form action="/sign_out" method="post">
<input type="submit" value="Sign Out" class = "button" style="border:none">
</form><% end %>
<% unless @first_name %> <form action="/sign_in" method="get">
 <input type="submit" value="Sign In" class = "button" style="border:none">
 </form><% end %>

<% if @first_name %><form action="/add_listing" method="get">
<input type="submit" value="Add new listing" class = "button" style="border:none">
</form><% end %>
</center>


<% @properties.each do |property|%>
  <br>
  <p>
    <b style="font-size:20px;"><%= property.property_name %></b><b style="font-size:10px;"> - £<%= property.price %> per night</b>
    <dl style="color:grey;"">
    <dt>Description:</dt>
    <dd><%= property.description %></dd>
    </dl>

    Available dates: <%= property.available_dates.strftime('%d-%m-%Y') %>
    <% if @first_name %>&nbsp;<a href="/request_sent">Request a booking</a> <% end %>
  </p>
  <br>
  <hr>
<% end %>


<br><h6><a href="/">Go back to main</a></h6>
