<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
<title>Ruby n B</title></head><center><br>
<h3>Welcome <% if @first_name %><%= @first_name %><% end %>!</h3><br>

<% if @first_name %><form action="/sign_out" method="post">
<input type="submit" value="Sign Out" class = "button" style="border:none">
</form><% end %>
<% unless @first_name %> <form action="/sign_in" method="get">
 <input type="submit" value="Sign In" class = "button" style="border:none">
 </form><% end %>

<% if @first_name %><form action="/add_listing" method="get">
<input type="submit" value="Add new listing" class = "button" style="border:none">
</form><% end %>
</center>

<h3><% @properties.each do |property|%>
  <li><%= property.property_name %>,   £<%= property.price %> per night<br>
Property description:<br>
  <%= property.description %><br>
Available dates:
<%= property.available_dates.strftime('%d-%m-%Y') %>
&nbsp;<a href="/request_sent">Request a booking</a> 
</li>
<% end %> </h3>

<br><h6><a href="/">Go back to main</a></h6>
